{% extends 'accounts/base.html.twig' %}

{% block contentpage %}
<div class="panel panel-default form-central"
  style="width: 50%; margin-left: auto; margin-right: auto; margin-top: 3%;">

  <!-- messages -->
  {% for message in app.flashes('msg') %}
  <div class="alert alert-warning alert-dismissable">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ message }}
  </div>
  {% endfor %}
  <!-- end messages -->

  <div class="container">
    <h3>Área Administrativa -> Nova Tabela</h3>
    <p></p>

    <form action="/new_table" 
    method="post" enctype="multipart/form-data">
    <input type="hidden" name="save">
      
      <div class="form-group">
        <label>Descrição:</label>
        <input name='description' class="form-control"
        placeholder="Digite uma descrição curta">
      </div>

      <div class="form-group">
        <label>Imagem:</label>
        <input type="file" name='image' class="form-control">
      </div>      

      <button type="submit" class="btn btn-primary">Enviar</button>

    </form>

  </div>

</div>

{% endblock %}
