{% extends 'accounts/base.html.twig' %}

{% block contentpage %}
<div class="panel panel-default form-central"
	style="width: 70%; margin-left: auto; margin-right: auto; margin-top: 3%;">
	<h3>Área Administrativa -> Exibir Tabelas</h3>
  	<p></p>
	<table id="table" class="display">

		<thead>
			<tr>
				<th>ID</th>
				<th>Descrição</th>
				<th>Imagem</th>
				
			</tr>
		</thead>
		<tbody>
			{% for table in tables %}
			<tr>
				<td>
					<a href="#"
					 title="Detalhes">
					test
					</a>
				</td>
				<td>test</td>
				<td><img src="#"></td>
				

			</tr>
			{% endfor %}


		</tbody>
	</table>
	


</div>
{% endblock %}
