{% extends 'accounts/base.html.twig' %}

{% block contentpage %}
<div class="panel panel-default form-central"
	style="width: 70%; margin-left: auto; margin-right: auto; margin-top: 3%;">
	<table id="table" class="display">

		<thead>
			<tr>
				<th>ID</th>
				<th>Nome</th>
			</tr>
		</thead>
		<tbody>
			{% for category in categories %}
			<tr>
				<td>{{ category.id }}</td>
				<td>{{ category.name }}</td>
			</tr>
			{% endfor %}


		</tbody>
	</table>
</div>
{% endblock %}
