<!DOCTYPE html>
<html lang="pt-br"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
	<title>Grafky</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="Grafky_files/bootstrap.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	
	<!-- Estilo css -->
	<link href="Grafky_files/estilo.css" rel="stylesheet" style="text.css">
	<link href="Grafky_files/fontello.css" rel="stylesheet" style="text.css">
	
	<!-- Fonts -->
	<link href="Grafky_files/css.css" rel="stylesheet">
    
</head>
<body>
	
	<div class="container">
		<div class="row">
			<div class="col-md-4 logo_top">
				<a href="http://www.atrativapropaganda.com.br/grafky/index.html"><img src="Grafky_files/logo.png"></a>
			
			</div>
			<div class="col-md-8 sociais_top">
				<ul>
					<li><a href="http://www.atrativapropaganda.com.br/grafky/contato.html"><img class="zoom_in" src="Grafky_files/sociais_whatsapp.png"></a></li>
					<li><a href="https://www.facebook.com/grafky/" target="_blanck"><img class="zoom_in" src="Grafky_files/sociais_face.png"></a></li>
					<li><a href="https://www.instagram.com/grafkyimpressao/" target="_blanck"><img class="zoom_in" src="Grafky_files/sociais_instagram.png"></a></li>
					<li><a href="http://www.youtube.com/" target="_blanck" "=""><img class="zoom_in" src="Grafky_files/sociais_youtube.png"></a></li>
					
				</ul>
			
			</div>
			
		</div>
		
	</div>

		<div class="slider-top">
			<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">	
			  <div class="carousel-inner">
				<div class="carousel-item">
				  <img class="d-block w-100" src="Grafky_files/slider-01.jpg" alt="First slide">
				</div>
				<div class="carousel-item active">
				  <img class="d-block w-100" src="Grafky_files/slider-02.jpg" alt="Second slide">
				</div>
				<div class="carousel-item">
				  <img class="d-block w-100" src="Grafky_files/slider-03.jpg" alt="Third slide">
				</div>
			  </div>
			  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			  </a>
			  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			  </a>
			</div>
		
		</div>
		
	<a name="promocoes"></a>
	
	<section id="promocoes"> <!-- Promoções -->
		<div class="container">
			<div class="row">
				<div class="col-md-3 banners_promocoes">
					<img class="img-responsive" src="Grafky_files/promo-01.jpg">
				
				</div>
				<div class="col-md-3 banners_promocoes">
					<img class="img-responsive" src="Grafky_files/promo-02.jpg">
				
				</div>
				<div class="col-md-3 banners_promocoes">
					<img class="img-responsive" src="Grafky_files/promo-03.jpg">
				
				</div>
				<div class="col-md-3 banners_promocoes">
					<img class="img-responsive" src="Grafky_files/promo-04.jpg">
				
				</div>
				
			</div>

		</div>
		
	</section> <!--Final Promoções -->
	
	<!-- MENÚ -->
	<section id="menu">
		<div class="container">
			<div class="row">
				<div class="col-md-12 menu_mob">
					<p><span class="icon-menu"></span>MENU</p>
					<p><a href="http://www.atrativapropaganda.com.br/grafky/index.html">Início</a></p>
					<p><a href="http://www.atrativapropaganda.com.br/grafky/quemsomos.html">Quem Somos</a></p>
					<p><a href="http://www.atrativapropaganda.com.br/grafky/contato.html">Contato</a></p>
					<p><a href="#videos">Vídeos</a></p>
					<p><a href="#">Área Restrita</a></p>
			
				</div>
			
			</div>
		</div>
	</section>
	<!-- //MENÚ -->
	
	<div class="container">
		<div class="row">
			<div class="col-md-12 btn_fretes">
				<a class="img-responsive" href="http://www.atrativapropaganda.com.br/grafky/tabelaentregas.html"><img class="zoom_in" src="Grafky_files/btn_fretes.jpg"></a>

			</div>
		
		</div>
	
	</div>
	
	<a name="produtos"></a>
	
	<section id="divisao_produtos"> <!-- produtos -->
		<div class="container">
			<div class="row">

					<div class="container"><div class="row"><div class="espaco-linha-1"></div></div></div> <!-- Espaço 01 -->
					
				<div class="col-md-4 title_secao loja">
					<h1>PRODUTOS</h1>

				</div>
				
			</div>
				
		</div>
		
		<div class="container"> <!-- Container Tabs -->
			<div class="row">
				<div class="col-md-3">
					<nav>
						<div class="nav flex-column" id="nav-tab" role="tablist" aria-orientation="vertical">
							<a class="nav-item nav-link active Tabs_produtos" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Categoria 1</a>
							

						</div>
						
					</nav>
					
				</div>
				
				<div class="col-md-9">
					<div class="tab-content" id="nav-tabContent">
						<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
							<div class="titulo_categoria_tab">
								<h1><span class="icon-check"></span>Categoria 1</h1>
							
							</div>
							
							<div class="row">
								<div class="col-md-4 produtos">
									<div class="cubo_produto">
										<img class="img-responsive" src="Grafky_files/img_modelo.jpg">
										<h3>1000 Cartões de visita - Couchê 250g - 4 x 1 Verniz total frente</h3>
										<div class="cod_preco_prod" title="Nº Referência">
											<p id="cod_prod">Ref: card01</p>
										
										</div>
										<div class="cod_preco_prod">
											<p id="preco_prod">R$ 80,00</p>
										
										</div>
										<div class="btn_comprar">
											<a href="http://www.atrativapropaganda.com.br/grafky/contato.html">Fazer Pedido <span class="icon-right-open"></span></a>
										
										</div>
										
									</div>
									
								</div>
								<div class="col-md-4 produtos">
									<div class="cubo_produto">
										<img class="img-responsive" src="Grafky_files/img_modelo.jpg">
										<h3>1000 Cartões de visita - Couchê 250g - 4 x 1 Verniz total frente</h3>
										<div class="cod_preco_prod" title="Nº Referência">
											<p id="cod_prod">Ref: card01</p>
										
										</div>
										<div class="cod_preco_prod">
											<p id="preco_prod">R$ 80,00</p>
										
										</div>
										<div class="btn_comprar">
											<a href="http://www.atrativapropaganda.com.br/grafky/contato.html">Fazer Pedido <span class="icon-right-open"></span></a>
										
										</div>
										
									</div>
								
								</div>
								<div class="col-md-4 produtos">
									<div class="cubo_produto">
										<img class="img-responsive" src="Grafky_files/img_modelo.jpg">
										<h3>1000 Cartões de visita - Couchê 250g - 4 x 1 Verniz total frente</h3>
										<div class="cod_preco_prod" title="Nº Referência">
											<p id="cod_prod">Ref: card01</p>
										
										</div>
										<div class="cod_preco_prod">
											<p id="preco_prod">R$ 80,00</p>
										
										</div>
										<div class="btn_comprar">
											<a href="http://www.atrativapropaganda.com.br/grafky/contato.html">Fazer Pedido <span class="icon-right-open"></span></a>
										
										</div>
										
									</div>
								
								</div>
								<div class="col-md-4 produtos">
									<div class="cubo_produto">
										<img class="img-responsive" src="Grafky_files/img_modelo.jpg">
										<h3>1000 Cartões de visita - Couchê 250g - 4 x 1 Verniz total frente</h3>
										<div class="cod_preco_prod" title="Nº Referência">
											<p id="cod_prod">Ref: card01</p>
										
										</div>
										<div class="cod_preco_prod">
											<p id="preco_prod">R$ 80,00</p>
										
										</div>
										<div class="btn_comprar">
											<a href="http://www.atrativapropaganda.com.br/grafky/contato.html">Fazer Pedido <span class="icon-right-open"></span></a>
										
										</div>
										
									</div>
								
								</div>
								<div class="col-md-4 produtos">
									<div class="cubo_produto">
										<img class="img-responsive" src="Grafky_files/img_modelo.jpg">
										<h3>1000 Cartões de visita - Couchê 250g - 4 x 1 Verniz total frente</h3>
										<div class="cod_preco_prod" title="Nº Referência">
											<p id="cod_prod">Ref: card01</p>
										
										</div>
										<div class="cod_preco_prod">
											<p id="preco_prod">R$ 80,00</p>
										
										</div>
										<div class="btn_comprar">
											<a href="http://www.atrativapropaganda.com.br/grafky/contato.html">Fazer Pedido <span class="icon-right-open"></span></a>
										
										</div>
										
									</div>
								
								</div>
								<div class="col-md-4 produtos">
									<div class="cubo_produto">
										<img class="img-responsive" src="Grafky_files/img_modelo.jpg">
										<h3>1000 Cartões de visita - Couchê 250g - 4 x 1 Verniz total frente</h3>
										<div class="cod_preco_prod" title="Nº Referência">
											<p id="cod_prod">Ref: card01</p>
										
										</div>
										<div class="cod_preco_prod">
											<p id="preco_prod">R$ 80,00</p>
										
										</div>
										<div class="btn_comprar">
											<a href="http://www.atrativapropaganda.com.br/grafky/contato.html">Fazer Pedido <span class="icon-right-open"></span></a>
										
										</div>
										
									</div>
								
								</div>
								
							</div>
					  
						</div>
						
					  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
						<div class="titulo_categoria_tab">
								<h1><span class="icon-check"></span>Panfletos</h1>
							
							</div>
							
							<div class="row">
								<div class="col-md-4 produtos">
									<div class="cubo_produto">
										<img class="img-responsive" src="Grafky_files/img_modelo2.jpg">
										<h3>1000 Cartões de visita - Couchê 250g - 4 x 1 Verniz total frente</h3>
										<div class="cod_preco_prod" title="Nº Referência">
											<p id="cod_prod">Ref: card01</p>
										
										</div>
										<div class="cod_preco_prod">
											<p id="preco_prod">R$ 80,00</p>
										
										</div>
										<div class="btn_comprar">
											<a href="http://www.atrativapropaganda.com.br/grafky/contato.html">Fazer Pedido <span class="icon-right-open"></span></a>
										
										</div>
										
									</div>

								</div>
								<div class="col-md-4 produtos">
									<div class="cubo_produto">
										<img class="img-responsive" src="Grafky_files/img_modelo2.jpg">
										<h3>1000 Cartões de visita - Couchê 250g - 4 x 1 Verniz total frente</h3>
										<div class="cod_preco_prod" title="Nº Referência">
											<p id="cod_prod">Ref: card01</p>
										
										</div>
										<div class="cod_preco_prod">
											<p id="preco_prod">R$ 80,00</p>
										
										</div>
										<div class="btn_comprar">
											<a href="http://www.atrativapropaganda.com.br/grafky/contato.html">Fazer Pedido <span class="icon-right-open"></span></a>
										
										</div>
										
									</div>
								
								</div>
								<div class="col-md-4 produtos">
									<div class="cubo_produto">
										<img class="img-responsive" src="Grafky_files/img_modelo2.jpg">
										<h3>1000 Cartões de visita - Couchê 250g - 4 x 1 Verniz total frente</h3>
										<div class="cod_preco_prod" title="Nº Referência">
											<p id="cod_prod">Ref: card01</p>
										
										</div>
										<div class="cod_preco_prod">
											<p id="preco_prod">R$ 80,00</p>
										
										</div>
										<div class="btn_comprar">
											<a href="http://www.atrativapropaganda.com.br/grafky/contato.html">Fazer Pedido <span class="icon-right-open"></span></a>
										
										</div>
										
									</div>
								
								</div>
								<div class="col-md-4 produtos">
									<div class="cubo_produto">
										<img class="img-responsive" src="Grafky_files/img_modelo2.jpg">
										<h3>1000 Cartões de visita - Couchê 250g - 4 x 1 Verniz total frente</h3>
										<div class="cod_preco_prod" title="Nº Referência">
											<p id="cod_prod">Ref: card01</p>
										
										</div>
										<div class="cod_preco_prod">
											<p id="preco_prod">R$ 80,00</p>
										
										</div>
										<div class="btn_comprar">
											<a href="http://www.atrativapropaganda.com.br/grafky/contato.html">Fazer Pedido <span class="icon-right-open"></span></a>
										
										</div>
										
									</div>
								
								</div>
								
							</div>
					  
					    </div>
					    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
							<div class="titulo_categoria_tab">
								<h1><span class="icon-check"></span>Blocos</h1>
							
							</div>
							
							<div class="row">
								<div class="col-md-4 produtos">
									<div class="cubo_produto">
										<img class="img-responsive" src="Grafky_files/img_modelo3.jpg">
										<h3>1000 Cartões de visita - Couchê 250g - 4 x 1 Verniz total frente</h3>
										<div class="cod_preco_prod" title="Nº Referência">
											<p id="cod_prod">Ref: card01</p>
										
										</div>
										<div class="cod_preco_prod">
											<p id="preco_prod">R$ 80,00</p>
										
										</div>
										<div class="btn_comprar">
											<a href="http://www.atrativapropaganda.com.br/grafky/contato.html">Fazer Pedido <span class="icon-right-open"></span></a>
										
										</div>
										
									</div>

								</div>
								<div class="col-md-4 produtos">
									<div class="cubo_produto">
										<img class="img-responsive" src="Grafky_files/img_modelo3.jpg">
										<h3>1000 Cartões de visita - Couchê 250g - 4 x 1 Verniz total frente</h3>
										<div class="cod_preco_prod" title="Nº Referência">
											<p id="cod_prod">Ref: card01</p>
										
										</div>
										<div class="cod_preco_prod">
											<p id="preco_prod">R$ 80,00</p>
										
										</div>
										<div class="btn_comprar">
											<a href="http://www.atrativapropaganda.com.br/grafky/contato.html">Fazer Pedido <span class="icon-right-open"></span></a>
										
										</div>
										
									</div>
								
								</div>
								<div class="col-md-4 produtos">
									<div class="cubo_produto">
										<img class="img-responsive" src="Grafky_files/img_modelo3.jpg">
										<h3>1000 Cartões de visita - Couchê 250g - 4 x 1 Verniz total frente</h3>
										<div class="cod_preco_prod" title="Nº Referência">
											<p id="cod_prod">Ref: card01</p>
										
										</div>
										<div class="cod_preco_prod">
											<p id="preco_prod">R$ 80,00</p>
										
										</div>
										<div class="btn_comprar">
											<a href="http://www.atrativapropaganda.com.br/grafky/contato.html">Fazer Pedido <span class="icon-right-open"></span></a>
										
										</div>
										
									</div>
								
								</div>
								
							</div>

						</div>
						
					</div>
					
				</div>
			
			</div>
			
		</div> <!-- //Final Container Tabs -->
		
	</section> <!--// Final produtos -->
	
	<a name="videos"></a>
	<section id="videos"> <!--Seção Vídeos -->
		<div class="container">
			<div class="row">
				<div class="col-md-12 title_secao title_videos">
					<img class="img-responsive" src="Grafky_files/faixa_videos.jpg">

				</div>
				
			</div>
			
			<div class="container"><div class="row"><div class="espaco-linha-1"></div></div></div> <!-- Espaço 01 -->
			
			<div class="row">
				<div class="col-md-3 videos">
					<iframe src="Grafky_files/De44mwamRLM.html" allow="autoplay; encrypted-media" allowfullscreen="" width="100%" frameborder="0"></iframe>
				
				</div>
				<div class="col-md-3 videos">
					<iframe src="Grafky_files/CatvdN0Rji4.html" allow="autoplay; encrypted-media" allowfullscreen="" width="100%" frameborder="0"></iframe>
				
				</div>
				<div class="col-md-3 videos">
					<iframe src="Grafky_files/vWxXn7ktDlI.html" allow="autoplay; encrypted-media" allowfullscreen="" width="100%" frameborder="0"></iframe>
				
				</div>
				<div class="col-md-3 videos">
					<iframe src="Grafky_files/yGdb9CegBbE.html" allow="autoplay; encrypted-media" allowfullscreen="" width="100%" frameborder="0"></iframe>
				
				</div>
			
			</div>
				
		</div>
	
	      <!--// Final Seção Vídeos -->
	
	<div class="container"><div class="row"><div class="espaco-linha-1"></div></div></div> <!-- Espaço 01 -->
	
	<div class="container">
		<div class="row">
			<div class="col-md-12 btn_youtube">
				<a href="http://www.youtube.com/" target="_blanck"><img class="img-responsive zoom_in" src="Grafky_files/btn_ver_videos.jpg"></a>

			</div>
			
	
		</div>

	</div>
	
	<div class="container">
		<div class="row">
			<div class="col-md-12 aviso_">
				<p>ESTE SITE FOI DESENVOLVIDO E PENSADO PARA MELHOR EXPERIÊNCIA DO USUÁRIO NOS DISPOSITIVOS MÓVEIS.</p>
			
			</div>
		
		</div>
	
	</div>
	
	<section id="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-3 rodape">
					<p>MAPA DO SITE</p>
					<p><a href="">Início</a></p>
					<p><a href="">Produtos</a></p>
					<p><a href="">Promoções</a></p>
					<p><a href="">Vídeos</a></p>
					<p><a href="">Contato</a></p>

				
				</div>
				<div class="col-md-3 rodape">
					<p>CONTATO</p>
					<p>3011.0876</p>
					<p>98865.4037</p>
					<p>grafica­rapida@grafky­.com.br</p>
					<p>Av. São Vicente de Paula, 248 C - Araturi / Caucaia /CE</p>
					
				
				</div>
				<div class="col-md-3 rodape">
					<p>O QUE FAZEMOS</p>
					<p>Lonas</p>
					<p>Banners</p>
					<p>Adesivos</p>
					<p>Panfletos</p>
					<p>Blocos e Talões</p>
					<p>Cartões de Visita</p>
				
				</div>
				<div class="col-md-3 rodape">
					<img class="img-responsive" src="Grafky_files/logo.png">
				
				</div>
			
			</div>
			
		</div>
	
	</section> <!-- // Final Footer -->
	
	<section id="copy">
		<p>© 2018 - <span>Gráfica Rápida Grafky</span> - Todos os direitos reservados | Desenvolvido por <span>Atrativa Propaganda</span>.</p>
	
	</section>
	

	
    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="Grafky_files/jquery-3.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="Grafky_files/popper.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="Grafky_files/bootstrap.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

	
</section></body><div id="O785862675" style="display: none;"><div id="O78586267565" style="display: none;"></div></div></html>