{% extends 'base.html.twig' %}

{% block contentpage %}


<div class="container-fluid" style="margin-top: 2%">
		<div class="container-fluid">
			<h2>Noma da Categoria</h2>
			<div class="row">
				<div class="col-sm-4">
					<img 
					src="#" 
					alt="" />
					<div>Nome</div>
					<div>Description</div>
					<div>Valor R$ 789</div>
					<div>
						Marca: fulana
					</div>
					<div>
						<a href="#">
						Colocar no Carrinho
						</a>
					</div>
					<p></p>
				</div>
				
			</div>

			
		</div>
	</div>

  
{% endblock %}