{% extends 'default/base.html.twig' %}

{% block sobremenu %}{% endblock %}

{% block promocoes %}{% endblock %}

{% block tabelaentregas %}{% endblock %}

{% block conteudo %}
<div class="container">
	<div class="row">
		<div class="col-md-8 colula_esquerda_sobre"> <!--Coluna Esquerda -->
			<div class="row">
				<div class="col-md-12 img_quemsomos">
					<img class="img-responsive" src="imagens/img_equipe.jpg"/>
				
				</div>
			
			</div>
			
			<div class="row">
				<div class="col-md-12 titulo_quemsomos">
					<h1>Quem somos</h1>
					<p>É um fato conhecido de todos que um leitor se distrairá com o conteúdo de texto legível de uma página
					quando estiver examinando sua diagramação.</p>
					<p>A vantagem de usar Lorem Ipsum é que ele tem uma distribuição normal de letras, ao contrário de 
					"Conteúdo aqui, conteúdo aqui", fazendo com que ele tenha uma aparência similar a de um texto legível.</p>
					<p>Muitos softwares de publicação e editores de páginas na internet agora usam Lorem Ipsum como
					texto-modelo padrão, e uma rápida busca por 'lorem ipsum' mostra vários websites ainda em sua fase de 
					construção. Várias versões novas surgiram ao longo dos anos, eventualmente por acidente, e às vezes de 
					propósito (injetando humor, e coisas do gênero).</p>
				
				</div>
			
			</div>
			
		</div>   <!--// Coluna Esquerda -->
		
		<div class="col-md-4 coluna_direita_sobre">
			<div class="row">
				<div class="col-md-12 img_estrutura">
					<img class="img-responsive" src="imagens/img_modelo_02.jpg"/>
					
				</div>
				<div class="col-md-12 img_estrutura">
					<img class="img-responsive" src="imagens/img_modelo_02.jpg"/>
					
				</div>
				<div class="col-md-12 img_estrutura">
					<img class="img-responsive" src="imagens/img_modelo_02.jpg"/>
					
				</div>
			
			</div>
		
		</div>
	
	</div>
	
</div>
{% endblock %}
