<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
	<title>Grafky</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	
	<!-- Estilo css -->
	<link href="css/estilo.css" rel="stylesheet" style="text.css">
	<link href="css/fontello.css" rel="stylesheet" style="text.css">
	
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
	
	<!-- BEGIN JIVOSITE CODE {literal} -->
	<script type='text/javascript'>
	(function(){ var widget_id = 'Pzg6FEUP4j';var d=document;var w=window;function l(){
	var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();</script>
	<!-- {/literal} END JIVOSITE CODE -->
    
</head>
<body>
<section id="topo">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
			
			</div>
			<div class="col-md-4 sociais_top">
				<ul>
					<li><a href="contato.html" target="_blanck""><img class="zoom_in" src="imagens/sociais_local.png"/></a></li>
					<li><a href="http://www.youtube.com" target="_blanck""><img class="zoom_in" src="imagens/sociais_youtube.png"/></a></li>
					<li><a href="https://www.instagram.com/grafkyimpressao/" target="_blanck"><img class="zoom_in" src="imagens/sociais_instagram.png"/></a></li>
					<li><a href="https://www.facebook.com/grafky/" target="_blanck"><img class="zoom_in" src="imagens/sociais_face.png"/></a></li>
					<li><a href="https://api.whatsapp.com/send?phone=558588654037" target="_blanck"><img class="zoom_in" src="imagens/sociais_whatsapp.png"/></a></li>	
					
				</ul>
				
			</div>
		
		</div>
		
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-4 logo_top">
				<a href="index.html"><img class="img-responsive" src="imagens/logo.png"></a>
			
			</div>
			
		</div>
		
	</div>
	
</section>

		<div class="slider-top">
			<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">	
			  <div class="carousel-inner">
				<div class="carousel-item active">
				  <img class="d-block w-100" src="imagens/slider-01.jpg" alt="First slide">
				</div>
				<div class="carousel-item">
				  <img class="d-block w-100" src="imagens/slider-02.jpg" alt="Second slide">
				</div>
				<div class="carousel-item">
				  <img class="d-block w-100" src="imagens/slider-03.jpg" alt="Third slide">
				</div>
			  </div>
			  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			  </a>
			  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			  </a>
			</div>
		
		</div>
		
	<a name="promocoes"></a>
	
	<section id="promocoes"> <!-- Promoções -->
		<div class="container">
			<div class="row">
				<div class="col-md-3 banners_promocoes">
					<img class="img-responsive" src="imagens/promo-01.jpg"/>
				
				</div>
				<div class="col-md-3 banners_promocoes">
					<img class="img-responsive" src="imagens/promo-02.jpg"/>
				
				</div>
				<div class="col-md-3 banners_promocoes">
					<img class="img-responsive" src="imagens/promo-03.jpg"/>
				
				</div>
				<div class="col-md-3 banners_promocoes">
					<img class="img-responsive" src="imagens/promo-04.jpg"/>
				
				</div>
				
			</div>

		</div>
		
	</section> <!--Final Promoções -->
	
	<!-- MENÚ -->
	<section id="menu">
		<div class="container">
			<div class="row">
				<div class="col-md-12 menu_mob">
					<p><span class="icon-menu"></span>MENU</p>
					<p><a href="index.html">Início</a></p>
					<p><a href="quemsomos.html">Quem Somos</a></p>
					<p><a href="contato.html">Contato</a></p>
					<p><a href="portfolio.html">Portfólio</a></p>
					<p><a href="#videos">Vídeos</a></p>
					<p><a href="#">Área Restrita</a></p>
			
				</div>
			
			</div>
		</div>
	</section>
	<!-- //MENÚ -->
	
	<div class="container">
		<div class="row">
			<div class="col-md-12 btn_fretes">
				<a class="img-responsive" href="tabelaentregas.html"><img class="zoom_in" src="imagens/btn_fretes.jpg"/></a>

			</div>
		
		</div>
	
	</div>
	
	<a name="produtos"></a>
	
	<section id="divisao_produtos"> <!-- produtos -->
		<div class="container">
			<div class="row">

					<div class="container"><div class="row"><div class="espaco-linha-1"></div></div></div> <!-- Espaço 01 -->
					
				<div class="col-md-4 title_secao loja">
					<h1>PRODUTOS</h1>

				</div>
				
			</div>
				
		</div>
		
		<div class="container"> <!-- Container Tabs -->
			<div class="row">
				<div class="col-md-3">
					<nav>
						<div  class="nav flex-column" id="nav-tab" role="tablist" aria-orientation="vertical">
							<a class="nav-item nav-link active Tabs_produtos" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Cartões de Visita</a>
							<a class="nav-item nav-link Tabs_produtos" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Panfletos</a>
							<a class="nav-item nav-link Tabs_produtos" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Blocos</a>

						</div>
						
					</nav>
					
				</div>
				
				<div class="col-md-9">
					<div class="tab-content" id="nav-tabContent">
						<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
							<div class="titulo_categoria_tab">
								<h1><span class="icon-check"></span>Cartões de Visita</h1>
							
							</div>
							
							<div class="row">
								<div class="col-md-4 produtos">
									<div class="cubo_produto">
										<img class="img-responsive" src="imagens_produtos/img_modelo.jpg">
										<h3>1000 Cartões de visita - Couchê 250g - 4 x 1 Verniz total frente</h3>
										<div class="cod_preco_prod" title="Nº Referência">
											<p id="cod_prod">Ref: card01</p>
										
										</div>
										<div class="cod_preco_prod">
											<p id="preco_prod">R$ 80,00</p>
										
										</div>
										<div class="btn_comprar">
											<a href="https://api.whatsapp.com/send?phone=558588654037">Fazer Pedido <span class="icon-right-open"></span></a>
										
										</div>
										
									</div>
									
								</div>
								<div class="col-md-4 produtos">
									<div class="cubo_produto">
										<img class="img-responsive" src="imagens_produtos/img_modelo.jpg">
										<h3>1000 Cartões de visita - Couchê 250g - 4 x 1 Verniz total frente</h3>
										<div class="cod_preco_prod" title="Nº Referência">
											<p id="cod_prod">Ref: card01</p>
										
										</div>
										<div class="cod_preco_prod">
											<p id="preco_prod">R$ 80,00</p>
										
										</div>
										<div class="btn_comprar">
											<a href="https://api.whatsapp.com/send?phone=558588654037">Fazer Pedido <span class="icon-right-open"></span></a>
										
										</div>
										
									</div>
								
								</div>
								<div class="col-md-4 produtos">
									<div class="cubo_produto">
										<img class="img-responsive" src="imagens_produtos/img_modelo.jpg">
										<h3>1000 Cartões de visita - Couchê 250g - 4 x 1 Verniz total frente</h3>
										<div class="cod_preco_prod" title="Nº Referência">
											<p id="cod_prod">Ref: card01</p>
										
										</div>
										<div class="cod_preco_prod">
											<p id="preco_prod">R$ 80,00</p>
										
										</div>
										<div class="btn_comprar">
											<a href="https://api.whatsapp.com/send?phone=558588654037">Fazer Pedido <span class="icon-right-open"></span></a>
										
										</div>
										
									</div>
								
								</div>
								<div class="col-md-4 produtos">
									<div class="cubo_produto">
										<img class="img-responsive" src="imagens_produtos/img_modelo.jpg">
										<h3>1000 Cartões de visita - Couchê 250g - 4 x 1 Verniz total frente</h3>
										<div class="cod_preco_prod" title="Nº Referência">
											<p id="cod_prod">Ref: card01</p>
										
										</div>
										<div class="cod_preco_prod">
											<p id="preco_prod">R$ 80,00</p>
										
										</div>
										<div class="btn_comprar">
											<a href="https://api.whatsapp.com/send?phone=558588654037">Fazer Pedido <span class="icon-right-open"></span></a>
										
										</div>
										
									</div>
								
								</div>
								<div class="col-md-4 produtos">
									<div class="cubo_produto">
										<img class="img-responsive" src="imagens_produtos/img_modelo.jpg">
										<h3>1000 Cartões de visita - Couchê 250g - 4 x 1 Verniz total frente</h3>
										<div class="cod_preco_prod" title="Nº Referência">
											<p id="cod_prod">Ref: card01</p>
										
										</div>
										<div class="cod_preco_prod">
											<p id="preco_prod">R$ 80,00</p>
										
										</div>
										<div class="btn_comprar">
											<a href="https://api.whatsapp.com/send?phone=558588654037">Fazer Pedido <span class="icon-right-open"></span></a>
										
										</div>
										
									</div>
								
								</div>
								<div class="col-md-4 produtos">
									<div class="cubo_produto">
										<img class="img-responsive" src="imagens_produtos/img_modelo.jpg">
										<h3>1000 Cartões de visita - Couchê 250g - 4 x 1 Verniz total frente</h3>
										<div class="cod_preco_prod" title="Nº Referência">
											<p id="cod_prod">Ref: card01</p>
										
										</div>
										<div class="cod_preco_prod">
											<p id="preco_prod">R$ 80,00</p>
										
										</div>
										<div class="btn_comprar">
											<a href="https://api.whatsapp.com/send?phone=558588654037">Fazer Pedido <span class="icon-right-open"></span></a>
										
										</div>
										
									</div>
								
								</div>
								
							</div>
					  
						</div>
						
					  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
						<div class="titulo_categoria_tab">
								<h1><span class="icon-check"></span>Panfletos</h1>
							
							</div>
							
							<div class="row">
								<div class="col-md-4 produtos">
									<div class="cubo_produto">
										<img class="img-responsive" src="imagens_produtos/img_modelo2.jpg">
										<h3>1000 Cartões de visita - Couchê 250g - 4 x 1 Verniz total frente</h3>
										<div class="cod_preco_prod" title="Nº Referência">
											<p id="cod_prod">Ref: card01</p>
										
										</div>
										<div class="cod_preco_prod">
											<p id="preco_prod">R$ 80,00</p>
										
										</div>
										<div class="btn_comprar">
											<a href="https://api.whatsapp.com/send?phone=558588654037">Fazer Pedido <span class="icon-right-open"></span></a>
										
										</div>
										
									</div>

								</div>
								<div class="col-md-4 produtos">
									<div class="cubo_produto">
										<img class="img-responsive" src="imagens_produtos/img_modelo2.jpg">
										<h3>1000 Cartões de visita - Couchê 250g - 4 x 1 Verniz total frente</h3>
										<div class="cod_preco_prod" title="Nº Referência">
											<p id="cod_prod">Ref: card01</p>
										
										</div>
										<div class="cod_preco_prod">
											<p id="preco_prod">R$ 80,00</p>
										
										</div>
										<div class="btn_comprar">
											<a href="https://api.whatsapp.com/send?phone=558588654037">Fazer Pedido <span class="icon-right-open"></span></a>
										
										</div>
										
									</div>
								
								</div>
								<div class="col-md-4 produtos">
									<div class="cubo_produto">
										<img class="img-responsive" src="imagens_produtos/img_modelo2.jpg">
										<h3>1000 Cartões de visita - Couchê 250g - 4 x 1 Verniz total frente</h3>
										<div class="cod_preco_prod" title="Nº Referência">
											<p id="cod_prod">Ref: card01</p>
										
										</div>
										<div class="cod_preco_prod">
											<p id="preco_prod">R$ 80,00</p>
										
										</div>
										<div class="btn_comprar">
											<a href="https://api.whatsapp.com/send?phone=558588654037">Fazer Pedido <span class="icon-right-open"></span></a>
										
										</div>
										
									</div>
								
								</div>
								<div class="col-md-4 produtos">
									<div class="cubo_produto">
										<img class="img-responsive" src="imagens_produtos/img_modelo2.jpg">
										<h3>1000 Cartões de visita - Couchê 250g - 4 x 1 Verniz total frente</h3>
										<div class="cod_preco_prod" title="Nº Referência">
											<p id="cod_prod">Ref: card01</p>
										
										</div>
										<div class="cod_preco_prod">
											<p id="preco_prod">R$ 80,00</p>
										
										</div>
										<div class="btn_comprar">
											<a href="https://api.whatsapp.com/send?phone=558588654037">Fazer Pedido <span class="icon-right-open"></span></a>
										
										</div>
										
									</div>
								
								</div>
								
							</div>
					  
					    </div>
					    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
							<div class="titulo_categoria_tab">
								<h1><span class="icon-check"></span>Blocos</h1>
							
							</div>
							
							<div class="row">
								<div class="col-md-4 produtos">
									<div class="cubo_produto">
										<img class="img-responsive" src="imagens_produtos/img_modelo3.jpg">
										<h3>1000 Cartões de visita - Couchê 250g - 4 x 1 Verniz total frente</h3>
										<div class="cod_preco_prod" title="Nº Referência">
											<p id="cod_prod">Ref: card01</p>
										
										</div>
										<div class="cod_preco_prod">
											<p id="preco_prod">R$ 80,00</p>
										
										</div>
										<div class="btn_comprar">
											<a href="https://api.whatsapp.com/send?phone=558588654037">Fazer Pedido <span class="icon-right-open"></span></a>
										
										</div>
										
									</div>

								</div>
								<div class="col-md-4 produtos">
									<div class="cubo_produto">
										<img class="img-responsive" src="imagens_produtos/img_modelo3.jpg">
										<h3>1000 Cartões de visita - Couchê 250g - 4 x 1 Verniz total frente</h3>
										<div class="cod_preco_prod" title="Nº Referência">
											<p id="cod_prod">Ref: card01</p>
										
										</div>
										<div class="cod_preco_prod">
											<p id="preco_prod">R$ 80,00</p>
										
										</div>
										<div class="btn_comprar">
											<a href="https://api.whatsapp.com/send?phone=558588654037">Fazer Pedido <span class="icon-right-open"></span></a>
										
										</div>
										
									</div>
								
								</div>
								<div class="col-md-4 produtos">
									<div class="cubo_produto">
										<img class="img-responsive" src="imagens_produtos/img_modelo3.jpg">
										<h3>1000 Cartões de visita - Couchê 250g - 4 x 1 Verniz total frente</h3>
										<div class="cod_preco_prod" title="Nº Referência">
											<p id="cod_prod">Ref: card01</p>
										
										</div>
										<div class="cod_preco_prod">
											<p id="preco_prod">R$ 80,00</p>
										
										</div>
										<div class="btn_comprar">
											<a href="https://api.whatsapp.com/send?phone=558588654037">Fazer Pedido <span class="icon-right-open"></span></a>
										
										</div>
										
									</div>
								
								</div>
								
							</div>

						</div>
						
					</div>
					
				</div>
			
			</div>
			
		</div> <!-- //Final Container Tabs -->
		
	</section> <!--// Final produtos -->
	
	<a name="videos"></a>
	<section id="videos"> <!--Seção Vídeos -->
		<div class="container">
			<div class="row">
				<div class="col-md-12 title_secao title_videos">
					<img class="img-responsive" src="imagens/faixa_videos.jpg"/>

				</div>
				
			</div>
			
			<div class="container"><div class="row"><div class="espaco-linha-1"></div></div></div> <!-- Espaço 01 -->
			
			<div class="row">
				<div class="col-md-3 videos">
					<iframe width="100%" src="https://www.youtube.com/embed/De44mwamRLM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				
				</div>
				<div class="col-md-3 videos">
					<iframe width="100%" src="https://www.youtube.com/embed/CatvdN0Rji4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				
				</div>
				<div class="col-md-3 videos">
					<iframe width="100%" src="https://www.youtube.com/embed/vWxXn7ktDlI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				
				</div>
				<div class="col-md-3 videos">
					<iframe width="100%" src="https://www.youtube.com/embed/yGdb9CegBbE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				
				</div>
			
			</div>
				
		</div>
	
	</div>      <!--// Final Seção Vídeos -->
	
	<div class="container"><div class="row"><div class="espaco-linha-1"></div></div></div> <!-- Espaço 01 -->
	
	<div class="container">
		<div class="row">
			<div class="col-md-12 btn_youtube">
				<a href="http://www.youtube.com" target="_blanck"><img class="img-responsive zoom_in" src="imagens/btn_ver_videos.jpg"/></a>

			</div>
			
	
		</div>

	</div>
	
	<div class="container">
		<div class="row">
			<div class="col-md-12 aviso_">
				<p>ESTE SITE FOI DESENVOLVIDO E PENSADO PARA MELHOR EXPERIÊNCIA DO USUÁRIO NOS DISPOSITIVOS MÓVEIS.</p>
			
			</div>
		
		</div>
	
	</div>
	
	<section id="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-2 rodape">
					<p>MAPA DO SITE</p>
						<a href="index.html">Início</a>
						<a href="quemsomos.html">Quem Somos</a>
						<a href="#produtos">Produtos</a>
						<a href="#videos">Vídeos</a>
						<a href="contato.html">Contato</a>
	
				</div>
				<div class="col-md-3 rodape">
					<p>CONTATO</p>
					<span class="icon-phone"></span>3011.0876 / <span class="icon-whatsapp"></span>98865.4037</br>
					<span class="icon-mail-alt"></span>grafica&shyrapida@grafky&shy.com.br </br>
					<span class="icon-home"></span>Av. São Vicente de Paula, 248 C - Araturi / Caucaia /CE
					
				
				</div>
				<div class="col-md-4 rodape map_rodape">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3981.17536154283!2d-38.63243658582746!3d-3.771991644450508!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7c74c964f7a7f55%3A0x88cdbd99aa45a147!2sGrafky+Impress%C3%A3o+Digital!5e0!3m2!1spt-BR!2sus!4v1531927308706" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
				
				</div>
				<div class="col-md-3 rodape">
					<img class="img-responsive" src="imagens/logo.png"/>
				
				</div>
			
			</div>
			
		</div>
	
	</section> <!-- // Final Footer -->
	
	<section id="copy">
		<p>&copy 2018 - <span>Gráfica Rápida Grafky</span> - Todos os direitos reservados | Desenvolvido por <span>Atrativa Propaganda</span>.</p>
	
	</section>
	

	
    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

	</body>
</html>