/* SITE GRAFKY */

.logo_top img {
	display: block;
	margin: 0 auto;
}

/* MENU */

#topo {
	background-image: url('../imagens/fundo_footer.jpg');
	
}
.title_menu h1{
	font-size: 20px;
	text-align: center;
	color: #6E6E6E;	
}
#menu {
	padding-top: 20px;
	text-align: center;
	margin-bottom: 20px;
	background-image: url('../imagens/fundo_footer.jpg');
}
#menu p {
	color: #fff;
	font-size: 20px;
	font-weight: 700;
	border: 1px solid #fff;
}
#menu a {
	color: #fff;
	font-weight: 700;
}
#menu p a:hover {
	color: #FFFF00;
	transition-duration: 0.3s;
}
.menu_mob a{
	text-decoration: none;
}

/* //MENU */

.linha-01 {
	border-bottom: 1px solid #BDBDBD;
	margin-bottom: 20px;
}
.sociais_top ul li {
	display: inline-block;
	float: right;
}
.sociais_top img {
	display: inline-block;

}
.zoom_in {
	overflow: hidden;
	transition-duration: 0.1s;
	transition-property: transform;
}
.zoom_in:hover {
	transform: scale(1.2);
}

/* ESPAÇOS LINHAS */

.espaco-linha-1 {
	width: 100%;
	height: 30px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 30px;
}

/* //ESPAÇOS LINHAS */

.Tabs_produtos {
	border: 1px solid #D8D8D8;
	margin: 1px;
	color: #424242;
}
.Tabs_produtos:hover {
	color: #fff;
	background-color: red;
	border: none;
}
.cubo_produto {
	padding: 14px 7px 14px 7px;
	border: 1px solid #ccc;
}
.produtos {
	margin-top: 14px;
	
}
.produtos img {
	width: 100%;
	display: block;
	margin: 0 auto;
	border-bottom: 5px;
}
.produtos h3 {
	font-size: 20px;
	color: #424242;
	text-align: center;
}
.produtos p {
	font-size: 16px;
	color: #424242;
	text-align: center;
}
#divisao_produtos {
	margin-top: 30px;
	margin-bottom: 30px;
}
.cod_preco_prod {
	width: 100%;
	height: 40px;
	border: 2px solid #fff;
	padding-top: 7px;
	background-color: red;
	display: block;
	margin: 0px auto;
}
.cod_preco_prod p{
	font-size: 18px;
	font-weight: 700;
	color: #fff;
}
.btn_comprar {
	min-height: 55px;
	text-align: center;
	padding-top: 14px;
	background-color: black;
}
.btn_comprar a{
	font-size: 18px;
	font-weight: 700;
	color: red;
	
}
.titulo_categoria_tab {
	background-color: red;
	padding: 10px;
	margin-bottom: 10px;
}
.titulo_categoria_tab h1{
	font-size: 27px;
	color: #fff;
	
}
.espaco_ {
	height: 200px;
	background-color: #ccc;
	padding: 2px;
	border: 2px solid black;
}
.title_secao h1{
	font-family: arial;
	font-size: 35px;
	color: red;
	text-align: center;
}
.title_videos {
	margin-top: 40px;
}
.title_videos img {
	max-width: 361px;
	width: 100%;
	display: block;
	margin: 0 auto;
	
}
.loja h1{
	text-align: center;
}

/* PROMOÇÕES */

#promocoes {
	margin: 0px 0px 0px 0px;
	padding-top: 70px;
	padding-bottom: 50px;
	background-color: black;
}
.promocoes p{
	font-size: 35px;
	color: #424242;
	font-family: arial;
	color: red;
	text-align: center;
	margin-top: 50px;
	
}
.banners_promocoes img {
	width: 100%;
	display: block;
	margin: 0px 0px 10px 0px;
}
.btn_acao {
	display: block;
	margin: 0 auto;
	text-align: center;
	margin-top: 30px;
	padding: 10px 30px 10px 30px;
	border-radius: 50px;
	background-color: #fff;
}
.btn_acao a {
	text-decoration: none;
	font-weight: 700;
	font-size: 20px;
	text-align: center;
	color: red;
}
.btn_acao:hover {
	background-color: black;
	transition-duration: 0.3s;
}
.btn_pedidos {
	width: 100%;
	background-color: black;
	color: red;
	font-size: 24px;
	font-weight: 700;
	text-align: center;
	padding: 10px 30px 10px 30px;
	display: block;
	margin: 0px 0px 10px 0px;;
	border-radius: 50px;
}
.btn_pedidos:hover {
	background-color: red;
	color: #fff;
	text-decoration: none;
	transition-duration: 0.3s;
}
.btn_youtube img {
	max-width: 361px;
	width: 100%;
	display: block;
	margin: 0 auto;
}
.btn_fretes img{
	max-width: 361px;
	width: 100%;
	display: block;
	margin: 0 auto;
}
/* // PROMOÇÕES */

/* QUEM SOMOS */
.img_quemsomos img{
	width: 100%;
}
.titulo_quemsomos h1{
	font-family: arial;
	color: red;
}
.titulo_quemsomos p {
	text-align: justify;
	text-indent: 20px;
}
.img_estrutura {
	padding: none;
	margin-bottom: 20px;
}
.coluna_direita_sobre img {
	width: 100%;
}

/* //QUEM SOMOS */

/* CONTATO */
#cont {
	font-size: 18px;
	color: #7b7b7b;
}
.formulario {
	margin-top: 30px;
	
}
.formulario h1 {
	font-family: arial;
	color: #7b7b7b;
}
.formulario h4 {
	color: #7b7b7b;
}
#nome, #telefone, #email, #bairro, #mensagem {
	width: 100%;
	height: 40px;
	border: 1px solid #ccc;
}
#mensagem {
	width: 100%;
	height: 200px;
}
.btn_form {
	background: #f18c08;
	margin-right: 10px;
}
.public_contatos {
	height: auto;
	padding-left: 10px;
	border-left: 1px solid #ccc;
}
.public_contatos h1 {
	text-align: center;
	font-size: 14px;
}
.public_contatos img {
	margin-bottom: 10px;
}
#button {
	background-color: red;
	border: none;
	min-width: 130px;
}
#button:hover {
	background-color: #00BFFF;
}

/* //CONTATO */

.aviso_ {
	font-size: 14px;
	text-align: center;
	color: #696969;
	margin-top: 40px;
	padding-top: 15px;
	border: 1px solid #ccc;
}

/* PORTFÓLIO */

#portfolio h1 {
	font-size: 25px;
	color: #696969;
}

#portfolio h2 {
	font-size: 35px;
	color: red;
}
#portfolio p {
	color: #696969;
	font-size: 18px;
}
.imagens_portfolio {
	margin-bottom: 30px;
	
}
.imagens_portfolio img {
	box-shadow: 0px 0px 10px #787979;
	
}

/* // PORTFÓLIO */


/* FOOTER */
#footer {
	margin-top: 100px;
	background: url('../imagens/fundo_footer.jpg');
}
.rodape {
	margin-top: 40px;
	color: #fff;
	font-size: 16px;
}
.rodape a {
	text-decoration: none;
	display: block;
	color: #fff;
}
.rodape a:hover {
	color: red;
	transition-duration: 0.3s;
}
.rodape img {
	width: 100%;
	margin-bottom: 25px;
}
.map_rodape {
	padding-bottom: 15px;
	
}
#copy {
	padding-top: 10px;
}
#copy p{
	font-size: 14px;
	font-weight: 500;
	color: #848484;
	text-align: center;
	
}
#copy span {
	font-weight: 700;
}





/* // FOOTER */